lib/**
!dist/debin
!dist/redhat

build.properties                                                                                                                                                               
build/**                                                                                                                                                                         
dist/*.tar.gz

# generated code
bin/cqlsh

pylib/cqlshlib/_version.py
pylib/cqlshlib/copyutil.c
pylib/cqlshlib/__pycache__/**
pylib/cqlshlib/test/__pycache__/**
*.egg-info/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.so
*.egg
*.egg-info/
.pytest_cache/
