lib/**
!dist/debin
!dist/redhat

build.properties                                                                                                                                                               
build/**                                                                                                                                                                         
dist/*.tar.gz

pylib/cqlshlib/_version.py
pylib/cqlshlib/copyutil.c
pylib/cqlshlib/__pycache__/**
*.egg-info/
