scylla-driver
# Used ccm version is tracked by cassandra-test branch in ccm repo. Please create a PR there for fixes or upgrades to new releases.
https://github.com/scylladb/scylla-ccm/archive/master.zip
coverage
pytest
